<section class="steps">
  <div class="" id="circle">
    <h1>2</h1>
  </div>
  <div class="subhead">
    <h5>Choose your design</h5>
  </div>
  <div class="visible">
    <h6><i class="arrow down"></i></h6>
    <h6><i class="arrow down"></i></h6>  </div>
</section>
<section class="design">
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "bolts_a"), method: :post do %>
      <% image_tag("tampacards/bolts_template_a.png", size: "250x350", alt: "Palms & Pucks") %>
    <% end %>
  </div>
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "bolts_b"), method: :post do %>
      <% image_tag("tampacards/bolts_template_b.png", size: "250x350", alt: "Championship") %>
    <% end %>
  </div>
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "bolts_c"), method: :post do %>
        <% image_tag("tampacards/bolts_template_c.png", size: "250x350", alt: "Black") %>
    <% end %>
  </div>
</section>
