<section class="steps">
  <div class="" id="circle">
    <h1>2</h1>
  </div>
  <div class="subhead">
    <h5>Choose your design</h5>
  </div>
  <div class="visible">
    <h6>(Scroll Down)</h6>
  </div>
</section>
<section class="design">
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "eagles_a"), method: :post do %>
      <% image_tag("phillycards/eaglestemplate.png", size: "250 x 350", alt: "Footballs") %>
    <% end %>
  </div>
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "eagles_c"), method: :post do %>
      <% image_tag("phillycards/championstemplate.png", size: "250 x 350", alt: "Champions") %>
    <% end %>
  </div>
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "eagles_b"), method: :post do %>
      <% image_tag("phillycards/eaglestemplate2.png", size: "250 x 350", alt: "Stadium") %>
    <% end %>
  </div>
</section>
