<section class="steps">
  <div class="" id="circle">
    <h1>2</h1>
  </div>
  <div class="subhead">
    <h5>Choose one of the THREE designs</h5>
  </div>
</section>
<section class="design">
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "potter_blank"), method: :post do %>
      <% image_tag("potter_design.jpg", size: "200x350", alt: "Harry Potter") %>
    <% end %>
  </div>
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "starwars_blank"), method: :post do %>
      <% image_tag("starwars_design.jpg", size: "200x350", alt: "Starwars") %>
    <% end %>
  </div>
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "jurassic_blank"), method: :post do %>
      <% image_tag("jurassic_design.jpg", size: "200x350", alt: "Jurassic Park") %>
    <% end %>
  </div>
</section>
