<section class="steps">
  <div class="" id="circle">
    <h1>2</h1>
  </div>
  <div class="subhead">
    <h5>Choose one of the three designs below</h5>
  </div>
</section>
<section class="design">
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "rays_blank"), method: :post do %>
      <% image_tag("rays_design.jpg", size: "200x350", alt: "Rays") %>
    <% end %>
  </div>
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "football_blank"), method: :post do %>
      <% image_tag("football_design.jpg", size: "200x350", alt: "Bucs") %>
    <% end %>
  </div>
  <div class="team-cards">
    <%= link_to update_design_card_path(@card, design: "hockey_blank"), method: :post do %>
      <% image_tag("hockey_design.jpg", size: "200x350", alt: "Bolts") %>
    <% end %>
  </div>
</section>
