<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Send Card</title>

  </head>
  <body>
    <h2>Here is your card!</h2>

    <h5>Thank you for visiting My Photo Card.</h5>
    <p>To create another card, just follow this link: <%= @url %> </p>
    <p>And, please share the My Photo Card link with friends. Let them know it's FUN, EASY and FREE!</p>

  </body>
</html>
