<section class="preview about logo">
  <div class="about" id="">
    <%= link_to image_tag("myphotocard.png", size: "150x150", alt: "My Photo Card") %>
  </div>
  <div class="about">
    <h5>ABOUT MY PHOTO CARD</h5>
    <p>
      My Photo Card is my Demo Day project for the completion of my web development program at The Iron Yard • Tampa-St. Pete.
    </p>
    <h3>The Genesis of My Photo Card</h3>
    <p>
      When it came time to decide on a final project I wanted to do something fun. Being a sports fan, graphic designer and photographer I have always loved creating sports posters, magazine covers and trading cards for print. So, why not try to create a web app that would allow anyone to create their own trading card? Fun and challenging.
    </p>
    <h3>How it Evolved</h3>
    <p>
      My Photo Card started out as My Sports Card. After having a few friends test it out they suggested having designs for more than sports. Thus, My Photo Card.
    </p>
    <h3>Technologies</h3>
    <p>
      A Rails app using the Ruby Gems <a href="https://rubygems.org/gems/shrine", target = "blank"> Shrine</a>, <a href="https://rubygems.org/gems/pdfkit", target = "blank"> pdfkit</a>, <a href="https://rubygems.org/gems/imgkit", target = "blank"> imgkit</a>, and <a href="https://rubygems.org/gems/wkhtmltoimage-binary", target = "blank">wkhtmltoimage-binary</a>, for image uploading, processing and output. The email process is being handled by <a href="https://sendgrid.com/", target = "blank"> SendGrid</a>.
    </p>
    <h3>Credits</h3>
    <p>
      A BIG THANK YOU to Gavin Stark for his guidance and input which helped make this app a reality.
    </p>
  </div>
</section>
