<section class="preview thanks logo">
  <div class="" id="">
    <%= link_to image_tag("myphotocard.png", size: "200x200", alt: "My Photo Card") %>
  </div>
  <div class="about">
    <h5>ABOUT MY PHOTO CARD</h5>
    <p>
      My Photo Card is my final project for the completion of my web development program at The Iron Yard Tampa-St. Pete.
    </p>
    <p>
      My Photo Card is my final project for the completion of my web development program at The Iron Yard Tampa-St. Pete.
    </p>
  </div>
</section>
