<section class="steps preview">
  <div class="" id="">
    <h1></h1>
  </div>
</section>
<div class="preview-card">
  <div class="finish">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <%= image_tag(pngify_card_url(@card, format: "png"), class: "pngify") %>

      <div class="form-group card-info">
          <h4>Enter your email to receive your card.</h4>
      </div>

      <%= form_for @card, url: thanks_card_path(@card) do |f| %>

      <div class="form-group">
        <p>
          <%= f.email_field :email, class: "form-control info", placeholder: "your email" %>
        </p>
      </div>

      <div class="form-group">
        <%= f.submit "Send", class: "done" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
