<section class="steps preview">
  <div class="" id="">
    <h1></h1>
  </div>
</section>
<div class="preview-card">
  <div class="finish">
    <div class="col-lg-12">
      <%= image_tag("Rayscard_ball.png", size: "250x350", alt: "Rayscard_Ball") %>
      <form class="fancy-form" action="" method="post">
          <div class="form-group email">
              <input autofocus class="form-control" type="text" name="name" id="name" placeholder=" your email">
              <p>Please enter your email to receive a high resolution JPG of your card</p>
          </div>
          <%= link_to thanks_card_path, method: :get do %>
          <%= submit_tag "Send Me My Card", class: "done" %>
          <% end %>
      </form>
    </div>
  </div>
</div>
