<section class="steps">
  <div class="" id="circle">
    <h1>1</h1>
  </div>
  <div class="subhead">
    <h5>Choose your team</h5>
  </div>
  <div class="visible">
    <h6><i class="arrow down"></i></h6>
    <h6><i class="arrow down"></i></h6>
  </div>
</section>
<section class="teams switch">
  <div class="team-cards category">
    <%= link_to cards_path(team: "rays"), method: :post do %>
      <% image_tag("tampacards/rays_mock_a.png", size: "200x350", alt: "Rays") %>
    <% end %>
  </div>
  <div class="team-cards category">
    <%= link_to cards_path(team: "rays"), method: :post do %>
      <% image_tag("tampacards/rays_mock_b.png", size: "200x350", alt: "Rays") %>
    <% end %>
  </div>
  <div class="team-cards category">
    <%= link_to cards_path(team: "rays"), method: :post do %>
      <% image_tag("tampacards/rays_mock_c.png", size: "200x350", alt: "Rays") %>
    <% end %>
  </div>
    <div class="team-cards category">
      <%= link_to cards_path(team: "rays"), method: :post do %>
        <% image_tag("tampacards/rays_mock_d.png", size: "200x350", alt: "Rays") %>
      <% end %>
    </div>
</section>
