<section class="steps">
  <div class="" id="circle">
    <h1>1</h1>
  </div>
  <div class="subhead">
    <h5>Choose one of the three categories below</h5>
  </div>
</section>
<section class="teams">
  <div class="team-cards category">
    <%= link_to cards_path(team: "sports"), method: :post do %>
      <% image_tag("baseball.png", size: "200x350", alt: "Sports") %>
    <% end %>
    <h3>Sports</h3>
  </div>
  <div class="team-cards category">
    <%= link_to cards_path(team: "entertainment"), method: :post do %>
      <% image_tag("entertainment.png", size: "200x350", alt: "Entertainment") %>
    <% end %>
    <h3>Entertainment</h3>
  </div>
  <div class="team-cards category">
    <%= link_to cards_path(team: "ironyard"), method: :post do %>
      <% image_tag("ironyard.png", size: "200x350", alt: "TIY") %>
    <% end %>
    <h3>The Iron Yard</h3>
  </div>
</section>
