<section class="steps">
  <div class="" id="circle">
    <h1>1</h1>
  </div>
  <div class="subhead">
    <h5>Choose your team</h5>
  </div>
</section>
<section class="teams">
  <div class="team-cards category">
    <%= link_to cards_path(team: "phillies"), method: :post do %>
      <% image_tag("phillycards/philliespatchmock.png", size: "200x350", alt: "Phillies") %>
    <% end %>
    <h3>Phillies</h3>
  </div>
  <div class="team-cards category">
    <%= link_to cards_path(team: "eagles"), method: :post do %>
      <% image_tag("phillycards/eaglesmock.png", size: "200x350", alt: "Eagles") %>
    <% end %>
    <h3>Eagles</h3>
  </div>
  <div class="team-cards category">
    <%= link_to cards_path(team: "flyers"), method: :post do %>
      <% image_tag("phillycards/flyersmock.png", size: "200x350", alt: "Flyers") %>
    <% end %>
    <h3>Flyers</h3>
  </div>
    <div class="team-cards category">
      <%= link_to cards_path(team: "sixers"), method: :post do %>
        <% image_tag("phillycards/sixersmock.png", size: "200x350", alt: "Sixers") %>
      <% end %>
      <h3>Sixers</h3>
    </div>
  </div>
</section>
