<!-- <meta HTTP-EQUIV="REFRESH" content="3; url=/cards/:id/preview"> -->

<section class="steps preview">
  <div class="" id="">
    <h1>NICELY DONE!</h1>
  </div>
  <div class="subhead">
    <h5>Creating preview of your card</h5>
  </div>
</section>
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
  <div class="steps">
    <h2>A FUN FACT while you wait...</h2>
    <p>Tropicana Field was built before The Rays were even a team in an effort to attract an MLB team. It was originally called the Florida Suncoast Dome, then the Thunderdome, and finally The Trop.</p>
  </div>
