body {
  font-family: 'Helvetica Nue', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
  text-align: center;
  padding: 2em;
}

.horizontal-logo {
  text-align: left;
  background: linear-gradient(-90deg, #ed2024, white);
  margin-top: -1em;
}

.hlogo {
  margin-left: 2em;
  padding-bottom: 1em;
}

img {
  margin-top: 2em;
}

.start {
  text-align: center;
}

.start button {
  margin-top: 1em;
  text-align: center;
  background-color: #3935a5;
  color: white;
  font-size: 24px;
  border-radius: 4px;
  border: none;
  padding: 6px 12px;
  font-weight: bold;
}

.front-card {
  text-align: center;
}

.card {
  text-align: center;
}

.card-label {
  margin-top: 1em;
}

.front-card h3 {
  font-size: 24px;
  color: #ed2024;
  margin-bottom: .5em;
}

.intro-text h3 {
  text-align: center;
  margin: 1em 3em;
  color: #3935a5;
  font-size: 18px;
}

.category h3 {
  text-align: center;
  margin: .5em;
  color: #3935a5;
  font-size: 18px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  margin-top: -2.5em;
  margin-right: 1em;
}

.nav-links a {
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  margin-right: 1em;
  color: white;
}

.nav-links a:hover {
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  margin-right: 1em;
  color: #3935a5;
}

section {
  display: flex;
  margin-bottom: 2em;
}

.steps {
  margin-top: 2em;
}

.steps h1 {
  font-size: 90px;
  color: white;
  margin: auto;
  text-align: center;
}

.steps h5 {
  font-size: 18px;
  margin-top: 1em;
  color: #3935a5;
  text-align: center;
}

.subhead h5 {
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: -1em;
  color: #3935a5;
  text-align: center;
}

.about h5 {
  font-size: 24px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #ed2024;
  text-align: center;
}

.about h3 {
  font-size: 14px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: .5em;
  color: #3935a5;
  text-align: left;
  width: 350px;
}

.about p {
  color: #666666;
  font-size: 12px;
  margin: auto;
  text-align: left;
  width: 350px;
}

#circle {
  width: 100px;
  height: 100px;
  background: #3935a5;
  border-radius: 50px;
  margin: auto;
}

.teams {
  display: flex;
}

.design {
  display: flex;
}

.team-cards {
  margin: auto;
}

.team-cards a img {
  height: 300px;
  width: 200px;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.team-cards a img:hover {
  width: 250px;
  height: 350px;
}

.fancy-form input[type=text] {
  // border-top: none;
  // border-right: none;
  // border-left: none;
  // border-bottom: 1px dotted #3935a5;
  // box-shadow: none;
  // -webkit-box-shadow: none;
  // -moz-box-shadow: none;
  // -moz-transition: none;
  // -webkit-transition: none;
  width: 75%;
  outline: none;
  text-align: center;
  margin: auto;
}

.fancy-form input[type=text]:focus {
  // border-bottom: 2px dotted #3935a5;
  transition: border 0.5s;
}

.fancy-form input::placeholder {
  color: #ddd;
}

.back::placeholder {
  color: #ddd;
  font-size: 14px;
  text-align: center;
}

.info::placeholder {
  color: #ddd;
  font-size: 14px;
  text-align: center;
}

.card-info {
  margin: 1em;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div input {
  margin: .25em;
}

div textarea {
  margin: .25em;
}

input.number {
  width: 50px;
}

input.name {
  width: 250px;
  text-align: center;
}

input.position {
  width: 50px;
}

//disable up down arrows

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.info p {
  font-size: 8px;
  text-align: center;
}

.future p {
  font-size: 8px;
  text-align: center;
  color: #ddd;
}

.submit {
  text-align: center;
  background-color: #ed2024;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ed2024;
  padding: 6px 12px;
  font-weight: bold;
}

.submit:hover {
  text-align: center;
  background-color: white;
  color: #ed2024;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ed2024;
  padding: 6px 12px;
  font-weight: bold;
}

.done {
  text-align: center;
  background-color: #3935a5;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #3935a5;
  padding: 6px 12px;
  font-weight: bold;
}

.done:hover {
  text-align: center;
  background-color: white;
  color: #3935a5;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #3935a5;
  padding: 6px 12px;
  font-weight: bold;
}

.preview h1 {
  font-size: 60px;
  font-weight: 900;
  color: #3935a5;
  margin: auto;
  text-align: center;
  margin-bottom: -.75em;
  margin-top: .5em;
}

#notice {
  font-size: 14px;
  color: #ed2024;
}

/*spinner css*/
.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ed2024;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.steps p {
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
  background-color: #3935a5;
  filter: brightness(80%);
  color: white;
  padding: 2em;
  border-radius: 8px;
}

.steps h2 {
  text-align: center;
  color: #ed2024;
  font-size: 24px;
}

.preview-card {
  margin: auto;
}

.finish {
  margin-top: 1em;
  text-align: center;
}

.finish button {
  text-align: center;
  background-color: #3935a5;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  padding: 6px 12px;
  font-weight: bold;
  margin: auto;
}

.email {
  margin-top: 2em;
  margin-bottom: 2em;
}

div p {
  font-size: 12px;
  color: #3935a5;
  margin-top: .5em;
}

.card-label h3 {
  color: #ddd;
  font-size: 16px;
}

.thanks h1 {
  margin-top: 0em;
  font-size: 54px;
  color: #3935a5;
}

.thanks h5 {
  font-size: 18px;
  margin-top: 0em;
  margin-bottom: -2em;
  color: #3935a5;
  text-align: center;
}

.card-info h4 {
  font-size: 14px;
  margin-top: .5em;
  color: #3935a5;
  text-align: center;
}

.pngify {
  width: 250px;
  height: 355px;
}

// media queries

@media only screen and (min-width: 375px) and (max-width: 800px) {
  .wrapper {
    background-image: linear-gradient(#ed2024, white);
  }

  .landing {
    background-position: center;
    background-image: image-url("photocard_300px.png");
    height: 525px;
    width: 400px;
    background-repeat: no-repeat;
    margin-bottom: -2em;
  }

  .preview h1 {
    font-size: 60px;
    font-weight: 900;
    color: #3935a5;
    margin: auto;
    text-align: center;
    margin-bottom: -.75em;
    margin-top: .5em;
  }

  .intro-text h3 {
    text-align: center;
    margin: 1em 5em;
    color: #3935a5;
    font-size: 14px;
    line-height: 18px;
  }
  .teams {
    display: block;
    text-align: center;
  }

  .design {
    display: block;
    text-align: center;
  }

  .thanks h1 {
    margin-top: 0em;
    font-size: 54px;
    color: #3935a5;
  }

  .thanks h5 {
    font-size: 18px;
    margin-top: 0em;
    margin-bottom: -2em;
    color: #3935a5;
    text-align: center;
  }

  .preview h1 {
    font-size: 60px;
    font-weight: 900;
    color: #3935a5;
    margin: auto;
    text-align: center;
    margin-bottom: -.75em;
    margin-top: -.5em;
  }
}

@media only screen and (max-width: 599px) {
  .wrapper {
    background-image: linear-gradient(#ed2024, white);
  }

  .landing {
    background-position: center;
    background-image: image-url("photocard_300px.png");
    height: 525px;
    width: 400px;
    background-repeat: no-repeat;
    margin-bottom: -2em;
  }

  .intro-text h3 {
    text-align: center;
    margin: 1em 5em;
    color: #3935a5;
    font-size: 14px;
    line-height: 18px;
  }
  .teams {
    display: block;
    text-align: center;
  }

  .design {
    display: block;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    background-image: linear-gradient(#ed2024, white);
  }

  .landing {
    background-position: center;
    background-image: image-url("photocard_500px.png");
    height: 525px;
    width: 600px;
    background-repeat: no-repeat;
    margin-bottom: -3em;
  }

  .intro-text h3 {
    text-align: center;
    margin: 1em 7em;
    color: #3935a5;
    font-size: 18px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 900px) {
  .wrapper {
    background-image: linear-gradient(#ed2024, white);
  }

  .landing {
    background-position: center;
    background-image: image-url("photocard_700px.png");
    height: 585px;
    width: 700px;
    background-repeat: no-repeat;
    margin-bottom: -4em;
  }

  .intro-text h3 {
    text-align: center;
    margin: 1em 7em;
    color: #3935a5;
    font-size: 18px;
    line-height: 22px;
  }
}
